<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header row">
    <a href={{ "/" | prepend:site.baseurl }}>
      {% if page.title != "Vier scripts voor Gent 2040" %}
        <img class="home-button" src={{ "/images/home.svg " | prepend:site.baseurl }}></a>
      {% endif %}
    </a>
    <div class="nav navbar-nav pull-right">
      <div class="ext-link col-sm-3"><a href={{ "/wat" | prepend:site.baseurl }}>Wat</a></div>
      <div class="ext-link col-sm-4"><a href={{ "/waarom" | prepend:site.baseurl }}>Waarom</a></div>
      <div class="ext-link col-sm-3"><a href={{ "/wie" | prepend:site.baseurl }}>Wie</a></div>
      <div class="col-sm-2"><div class="menu-btn menu-icon"></div></div>
    </div>
  </div>
</nav>

