<nav class="navbar navbar-default navbar-fixed-top bt-book-nav" role="navigation">
  <div class="navbar-header row">
      <a href={{ "/" | prepend:site.baseurl }}>
        {% if page.title != "Vier scripts voor Gent 2040" %}
          <img class="home-button" src={{ "/images/home.svg " | prepend:site.baseurl }}></a>
        {% endif %}
      </a>
    <!-- <div class="navbar-ext-nav">
      <ul>
        <li><a href=""></a>Wat</li>
        <li><a href=""></a>Waarom</li>
        <li><a href=""></a>Wie</li>
      </ul>
    </div> -->
    <div class="nav navbar-nav navbar-right pull-right">
      <div class="menu-btn menu-icon"></div>
    </div>              
  </div>
</nav>

