<div class="chapter-nav-links">
  {% capture current %}{{page.part | append:page.chapter }}{% endcapture %}
  {% assign prev = null %}
  {% assign output_next = false %}
  {% for p in site.pages %}
        
    {% capture counter %}{{p.part | append:p.chapter  }}{% endcapture %}

    {% if output_next == true and p.layout == "chapter" %}  
    <a href= {{ p.url | prepend:site.baseurl }}>
      Volgende
      <i class="icon ion-md-arrow-dropright"></i>
    </a>
      {% assign output_next = false %}
    {% endif %}  

    {% if p.layout == "chapter" and counter ==  current  %}
        
      {% if prev != null %}
        <a href= {{ prev.url | prepend:site.baseurl }}>
          <i class="icon ion-md-arrow-dropleft"></i>
          {% if prev.ispart == true %}
            Vorige <!-- {{prev.title}} -->
          {% else %}
            {% if prev.part == 0 %}
              Inleiding
            {% else %}
              Vorige<!-- {{prev.title}} -->
            {% endif %}

          {% endif %}
        </a>
      {% endif %}
      {% assign output_next = true %}
    {% endif %}
    {% assign prev = p %}
  {% endfor %}
</div>
<ul class="breadcrumb">
  {% assign current-chapter = page.chapter %}
  {% for p in site.pages %}
    {% if p.chapter == current-chapter %}
      {% if p.url == page.url %}
        <li><a href="{{ p.url | prepend:site.baseurl }}"><strong>{{p.title}}</strong></a></li>
      {% else %}
        <li><a href="{{ p.url | prepend:site.baseurl }}">{{p.title}}</a></li>
      {% endif%}
    {% else %}
    {% endif %}
  {% endfor %}
</ul>
