body{
  font-family: 'Assistant', sans-serif;
  background:#fff;
  color:#333;
  font-size: 16px;
}

p {
  word-break: break-word;
  text-justify: inter-ideograph;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1.6em;
}

h1, h3, h4, h5 {
  font-family: 'Assistant';
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

a, a:visited{
  color:#333;
}

a:hover,
div.menu-btn:hover,
.return-top:hover {
  color: #bd2961;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}

div.clear{
  clear:both;
}
div.menu-bar{
  padding:10px 0px;
}
div.menu-btn{
  padding-left: 15px;
  text-transform:uppercase;
  font-family: 'Assistant';
  font-weight:bold;
  cursor:pointer;
}

.navbar-nav /*.menu-btn*/{
  display:block;
  float: right;
  padding-left: 50px;
  margin-top: 0.8vh;
}
.navbar-nav a {
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}
.navbar-nav div {
  display: flex;
  flex-direction: row;
  flex-direction: column-reverse;
  align-self: center;
}
div.menu-bar .menu-btn.menu-icon,
div.nav .menu-btn.menu-icon{
  display: block;
  background-size: 20px;
  height: 19px;
  margin-top: -12px;
}
div.nav .menu-btn.menu-icon i {
  font-size: 2em;
}

div.menu-bar .menu-btn.menu-icon:hover,
div.nav .menu-btn.menu-icon:hover {
  background-position: 100% -20px;
}

div.byline{
  margin-bottom:10px;
  font-family: 'Assistant';
}

div.navbar-header{
  max-width: 980px;
  height:56px;
  margin:0px auto;
  padding:12px 15px;
  float:inherit;
}
div.navbar-header > a > i{
  font-size: 2em;
}
div.navbar-header > a{
  display: block;
  float: left;
  margin-top: -7px;
}
nav.navbar {
  transition:all 0.5s ease-in-out;
}
.navbar-default {
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,.15);
}
nav.navbar.withsidebar {
  right:280px;
  transition:all 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  .ext-link {
    display: none !important;
  }
}
div.header{
  background-color: #b8e0eb;
  z-index:0;
  position:relative;
  overflow:hidden;
  padding-bottom:50px;
}
div.cover-image {
  height: 50vh;
  background: white url("{{ site.baseurl }}/images/Cover.jpg") no-repeat fixed center; 
  background-size: 670px;
  background-position-y: -0.05vw;
}

div.header div.about{
  margin-top:40px;
  position:relative;
  z-index:100;
}
div.header h2{
  margin-top:0px;
  font-size:32px;
}

.btn-primary{
  background-color:#bd2961;
  border-color:#bd2961;
  font-family: 'Assistant';
  font-size:20px;
  line-height: 20px;
  padding: 13px 15px;
}
div.btn-read{
  background-image:url("{{ site.baseurl }}/images/btn-arrow.png");
  background-repeat: no-repeat;
  background-position: 190px;
  background-size: 28px;
  padding-right:50px;
}

.btn-primary:hover{
  background-color:#e33175;
  border-color: transparent;
}
div.btn-read:active{
  background-image:url("{{ site.baseurl }}/images/btn-arrow.png");
}

div.content{
  max-width:980px;
  margin:auto;
}

div.chapter{
  min-height: calc(100vh - 150px);
  margin-top:150px;
  color:#333;
}

div.title{
  text-align:center;
}

div.title img {
  width: 500px;
}

div.byline{
  text-align:center;
}

/* div.contributors,
div.critics,
div.about-book {
  padding: 50px 0px 70px;
} */

div.contributors{
  background:#f3f4f3;
  color:#404040;

}
div.section-heading{
  padding:15px 0px;
  padding-left: 16px;
}

div.section-heading img {
  width: 50px;
}

div.contributors li {
  font-size:18px;
  width:50%;
  min-width:400px;
  float:left;
  list-style:none;
  padding:0px;
  font-family: 'Assistant';
  color: #777;
}
div.contributors li img{
  max-height:70px;
  float:left;
  margin:10px 10px 50px 0px;
}
div.contributors div.name{
  font-family: 'Assistant';
  font-size: 22px;
  color:#333;
}


div.introduction{
  background:#B8EBBC;
  color:#404040;
  padding-bottom: 50px;
}

.site{
  width:780px;
  border: solid 1px #ddd;
  margin:40px auto;
  padding:20px 80px 80px 80px;
  text-align:justify;
  background:#fff;
}
.chapter-text{
  font-size:20px;
  line-height:30px;
  overflow:hidden;
  padding-bottom:30px;
}
.chapter-text h2,
.chapter-text h3,
.chapter-text h4{
  margin-top:10px;
}

.chapter-text p {
  margin-bottom: 30px;
}

.chapter-number{
  font-size:24px;
  font-family: 'Assistant';
  text-transform:uppercase;
}
.chapter .chapter-title{
  margin:5px 0px 50px;
  font-size:46px;
  line-height:51px;
}

.chapter-author{
  margin-bottom:60px;
  color:#333;
}

.page{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  transition:all 0.5s ease-in-out;
}
.page.withsidebar{
  right:280px;
  transition:all 0.5s ease-in-out;
}
.chapter-nav{
  font-family: 'Assistant';
  position:fixed;
  top:0px;
  right:-280px;
  bottom:0px;
  width:280px;
  background:#404040;
  color:#eee;
  text-align:left;
  border-right:solid 1px #000;
  padding-top:4px;
  transition:all 0.5s ease-in-out;
  overflow:auto;
  z-index:2000;
}
.chapter-nav.show{
  transition:all 0.5s ease-in-out;
  right:0px;
}
.chapter-nav .close{
  font-size:36px;
  color:#fff;
  text-align:left;
  float:left;
  margin-left:20px;
  margin-top: 7px;
}
.chapter-nav .hide {
  display: none !important;
}

.chapter-nav ul{
  margin:0px;
  padding:10px 0px 0px 10px;
}
.chapter-nav li{
  border-bottom:solid 1px #333;
  color:#ccc;
  padding:8px;
  margin:0px;
  font-size:14px;
  text-decoration:none;
  list-style:none;
  font-family: 'Assistant';
}
.chapter-nav ul li:hover {
  color: #fff;
}

.chapter-nav li .nav-part{
  font-weight: 700;
}

.nav-indent-1 {
  margin-left: 5px;
}
.nav-indent-2 {
  margin-left: 20px;
}
.nav-indent-3 {
  margin-left: 35px;
}
.nav-indent-4 {
  margin-left: 50px;
}

.footer{
  background:#404040;
  color:#ccc;
  font-family: 'Assistant';
  font-size: 14px;
  text-align:left;
  padding:20px 0px 5px;
}
.footer a{
  color: #ccc;
}
.footer a:hover{
  color: #fff;
}

.author .twitter{
  background-image: url("{{ site.baseurl }}/images/twitter.png");
  background-repeat: no-repeat;
  background-position: top 5px left;
  padding-left:18px;
}
.author .twitter a{
  text-decoration:none;
  font-size: 16px;
}
.author .about{
  margin:10px 0px;
}
.in-chapter-nav{
  font-size:16px;
}

.in-chapter-nav h4 {
  margin-top: 25px;
}

.in-chapter-nav ul{
  padding:0px;
  margin:0px;
}
.in-chapter-nav ul li{
  font-family: 'Assistant';
  font-size: 13px;
  padding:3px 0px;
  list-style:none;
  cursor:pointer;
}
.in-chapter-nav ul li:hover{
  color: #db2961;
}
ul.breadcrumb {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}
ul.breadcrumb > li {
  line-height: 2em;
}
ul.breadcrumb > li::before { content: ''; padding: 0; }

.in-chapter-sidebar-content .chapter-nav-links,
.mobile-in-chapter-links .chapter-nav-links {
  padding-bottom: 20px;
  border-bottom: solid 2px #404040;
}
.in-chapter-sidebar-content .chapter-nav-links a,
.mobile-in-chapter-links .chapter-nav-links a {
  font-family: 'Assistant';
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
  float: left;
}

.in-chapter-sidebar-content .chapter-nav-links a:last-child,
.mobile-in-chapter-links .chapter-nav-links a:last-child {
  float: right;
}

.in-chapter-sidebar{
  margin-top: 0;
}
.in-chapter-sidebar-content{
  width: 100%;
  /* max-width: 300px; */
  /* position: fixed; */
  min-width: 150px;
  overflow: auto;
}
.mobile-in-chapter-links{
  display:none;
}

.chapter-nav li.current-page{
  font-weight:bold;
  color:#fff;
}

.intro {
  font-weight: 400;
}

.partners img {
  width: 70%;
}

.partners .logo-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (max-width: 950px) {
  .partners .logo-container {
    justify-content: center;
  }
}

.need-clarification {
  color: #e72e7a;
  text-decoration: underline;
}

.clarification {
  direction: rtl;
  color: #e72e7a;
  padding-left: 80px;
  font-size: 18px;
  padding: 15px;
  margin-left: 20%;
  display: block;
}

.vision {
  direction: rtl;
  background-color: #ffeeee;
  padding: 10px;
  padding-left: 80px;
}

.introduction h1 {
  line-height: 1em;
  margin-bottom: 0;
}
.introduction h2 {
  margin-top: 0;
}
.introduction p {
  font-size: 1.1em !important;
}
.quote {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1em;
  padding: 15px 0;
}

.quote span {
  font-size: 1.5em;
  font-weight: 900;
}

.chapter-intro {
  font-weight: 700;
}

.chapter-text img {
  max-width: 650px;
  max-height: 450px;
  width: 100%;
  height: auto;
}

.home-button {
  cursor: pointer;
  width: 36px;
}

.footer-nav {
  list-style-type: none;
  text-decoration: underline;
  float: right;
}

.blue {
  background-color: blue;
}