---
---

body{
  font-family: 'Assistant', sans-serif;
  text-align: justify;
  background:#fff;
  color:#333;
  font-size: 18px;
}

p {
  text-align: justify;
  word-break: break-word;
  text-justify: inter-ideograph;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
}

h1, h3, h4, h5 {
  font-family: 'Assistant';
  font-weight: 700;
}

h2 {
  font-weight: 300;
}

a, a:visited{
  color:#333;
}

a:hover,
div.menu-btn:hover,
.return-top:hover {
  color: #bd2961;
  text-decoration: none;
}

div.clear{
  clear:both;
}

div.menu-bar{
  padding:10px 0px;
  height:35px;
}
div.menu-btn{
  text-transform:uppercase;
  font-family: 'Assistant';
  font-weight:bold;
  cursor:pointer;
  margin-top: 12px;
}
.navbar-nav .menu-btn{
  width: 235px;
}
div.menu-bar .menu-btn.menu-icon,
div.nav .menu-btn.menu-icon{
  background-image: url('{{ site.baseurl }}/images/menu_icon_sprite.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  display: block;
  background-size: 20px;
  height: 18px;
  padding-right: 28px;
}

div.menu-bar .menu-btn.menu-icon:hover,
div.nav .menu-btn.menu-icon:hover {
  background-position: 100% -20px;
}

div.byline{
  margin-bottom:10px;
  font-family: 'Assistant';
}

div.navbar-header{
  max-width:980px;
  margin:0px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  float:inherit;
}
nav.navbar{
  transition:all 0.5s ease-in-out;
}
nav.navbar.withsidebar{
  right:280px;
  transition:all 0.5s ease-in-out;
}

div.header{
  /* background: #b8e0eb url("{{ site.baseurl }}/images/Cover_zww.jpg") no-repeat scroll center; 
  background-blend-mode: multiply; */
  background-color: #b8e0eb;
  z-index:0;
  position:relative;
  overflow:hidden;
  padding-bottom:50px;
}

/* section.cover-image {
  height: 45vh;
  background: white url("{{ site.baseurl }}/images/Cover.jpg") no-repeat fixed center; 
  background-size: 70%;
} */

@media screen and (min-width: 950px) {
  div.cover-image {
    height: 45vh;
    background: white url("{{ site.baseurl }}/images/Cover.jpg") no-repeat fixed center; 
    background-size: 70%;
    background-position-y: -5px;
  }
}

@media screen and (max-width: 950px) {
  div.cover-image {
    height: 45vw;
    background: white url("{{ site.baseurl }}/images/Cover.jpg") no-repeat scroll center; 
    background-size: 100%;
  }
}

div.header div.about{
  margin-top:40px;
  position:relative;
  z-index:100;
}
div.header h2{
  margin-top:0px;
  font-size:32px;
}

.btn-primary{
  background-color:#bd2961;
  border-color:#bd2961;
  font-family: 'Assistant';
  font-size:20px;
  line-height: 20px;
  padding: 13px 15px;
}
div.btn-read{
  background-image:url("{{ site.baseurl }}/images/btn-arrow.png");
  background-repeat: no-repeat;
  background-position: 190px;
  background-size: 28px;
  padding-right:50px;
}

.btn-primary:hover{
  background-color:#e33175;
  border-color: transparent;
}
div.btn-read:active{
  background-image:url("{{ site.baseurl }}/images/btn-arrow.png");
}

div.content{
  max-width:980px;
  margin:auto;
}

div.chapter{
  margin-top:150px;
  color:#333;
}

div.title{
  text-align:center;
}

div.title img {
  width: 500px;
}

div.byline{
  text-align:center;
}
div.city-graph{
  position:absolute;
  bottom:-28px;
  text-align:center;
  width:100%;
}

div.city-graph img {
  max-width: 980px;
  width:100%;
}

/* div.contributors,
div.critics,
div.about-book {
  padding: 50px 0px 70px;
} */

div.contributors{
  background:#f3f4f3;
  color:#404040;

}
div.section-heading{
  padding:15px 0px;
  padding-left: 16px;
}

div.section-heading img {
  width: 50px;
}

div.contributors li {
  font-size:18px;
  width:50%;
  min-width:400px;
  float:left;
  list-style:none;
  padding:0px;
  font-family: 'Assistant';
  color: #777;
}
div.contributors li img{
  max-height:70px;
  float:left;
  margin:10px 10px 50px 0px;
}
div.contributors div.name{
  font-family: 'Assistant';
  font-size: 22px;
  color:#333;
}


div.introduction{
  background:#B8EBBC;
  color:#404040;
  padding-bottom: 50px;
}

.site{
  width:780px;
  border: solid 1px #ddd;
  margin:40px auto;
  padding:20px 80px 80px 80px;
  text-align:justify;
  background:#fff;
}
.chapter-text{
  font-size:20px;
  line-height:30px;
  overflow:hidden;
  padding-bottom:30px;
}
.chapter-text h2,
.chapter-text h3,
.chapter-text h4{
  margin-top:10px;
}

.chapter-text p {
  margin-bottom: 30px;
}

.chapter-number{
  font-size:24px;
  font-family: 'Assistant';
  text-transform:uppercase;
}
.chapter .chapter-title{
  margin:5px 0px 5px;
  font-size:46px;
  line-height:51px;
}

.chapter-author{
  margin-bottom:60px;
  color:#333;
}

.page{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  transition:all 0.5s ease-in-out;
}
.page.withsidebar{
  right:280px;
  transition:all 0.5s ease-in-out;
}
.chapter-nav{
  font-family: 'Assistant';
  position:fixed;
  top:0px;
  right:-280px;
  bottom:0px;
  width:280px;
  background:#404040;
  color:#eee;
  text-align:left;
  border-right:solid 1px #000;
  padding-top:4px;
  transition:all 0.5s ease-in-out;
  overflow:auto;
  z-index:2000;
}
.chapter-nav.show{
  transition:all 0.5s ease-in-out;
  right:0px;
}
.chapter-nav .close{
  font-size:36px;
  color:#fff;
  text-align:left;
  float:left;
  margin-left:20px;
}

.chapter-nav ul{
  margin:0px;
  padding:10px 0px 0px 10px;
}
.chapter-nav li{
  border-bottom:solid 1px #333;
  color:#ccc;
  padding:8px;
  margin:0px;
  font-size:14px;
  text-decoration:none;
  list-style:none;
  font-family: 'Assistant';
}
.chapter-nav ul li:hover {
  color: #fff;
}
.chapter-nav li .nav-chapter-author{
  font-size: 13px;
  font-family: 'Assistant';
}

.chapter-nav li .nav-part{
  font-weight: 700;
}

.footer{
  background:#404040;
  color:#ccc;
  font-family: 'Assistant';
  font-size: 14px;
  text-align:left;
  padding:20px 0px 5px;
}
.footer a{
  color: #ccc;
}
.footer a:hover{
  color: #fff;
}

.author .twitter{
  background-image: url("{{ site.baseurl }}/images/twitter.png");
  background-repeat: no-repeat;
  background-position: top 5px left;
  padding-left:18px;
}
.author .twitter a{
  text-decoration:none;
  font-size: 16px;
}
.author .about{
  margin:10px 0px;
}
.in-chapter-nav{
  font-size:16px;
}

.in-chapter-nav h4 {
  margin-top: 25px;
}

.in-chapter-nav ul{
  padding:0px;
  margin:0px;
}
.in-chapter-nav ul li{
  font-family: 'Assistant';
  font-size: 13px;
  padding:3px 0px;
  list-style:none;
  cursor:pointer;
}
.in-chapter-nav ul li:hover{
  color: #db2961;
}

.in-chapter-sidebar-content .chapter-nav-links,
.mobile-in-chapter-links .chapter-nav-links {
  padding-bottom: 20px;
  border-bottom: solid 2px #404040;
}
.in-chapter-sidebar-content .chapter-nav-links a,
.mobile-in-chapter-links .chapter-nav-links a {
  font-family: 'Assistant';
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: -0.06em;
  font-size: 11px;
  float: left;
}

.in-chapter-sidebar-content .chapter-nav-links a:last-child,
.mobile-in-chapter-links .chapter-nav-links a:last-child {
  float: right;
}

.in-chapter-sidebar{
  position:relative;
}
.in-chapter-sidebar-content{
  width:100%;
  min-width:150px;
  overflow:auto;

}
.mobile-in-chapter-links{
  display:none;
}

.chapter-nav li.current-page{
  font-weight:bold;
  color:#fff;
}

.intro {
  font-weight: 400;
}

.partners img {
  width: 70%;
}

.partners .logo-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
}

@media screen and (max-width: 950px) {
  .partners .logo-container {
    justify-content: center;
  }
}

.need-clarification {
  color: #e72e7a;
  text-decoration: underline;
}

.clarification {
  direction: rtl;
  color: #e72e7a;
  padding-left: 80px;
}

.vision {
  direction: rtl;
  background-color: #ffeeee;
  padding: 10px;
  padding-left: 80px;
}

.introduction h1 {
  line-height: 1em;
  margin-bottom: 0;
}

.introduction h2 {
  margin-top: 0;
}

.quote {
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1em;
}

.quote span {
  font-size: 1.5em;
}

.chapter-intro {
  font-weight: 700;
}

.chapter-text img {
  max-width: 650px;
  max-height: 450px;
  width: 100%;
  height: auto;
}

.home-button {
  width: 40px;
}