---
layout: default
---

<div class="page">
{% include header.html %}

<div class="chapter content">
  <div class="mobile-in-chapter-links">
    {% include in-chapter-links.html %}
  </div>
  
  <div class="col-sm-8 col-md-8">
    <h1 class="chapter-title">{{page.title}}</h1>

    <div class="chapter-text">
      {{ content }}
    </div>
  </div>
  <div class="col-md-4 col-sm-4 in-chapter-sidebar">
    <div class="col-md-4 col-sm-4 in-chapter-sidebar-content">
      {% include in-chapter-links.html %}
    </div>
  </div>
</div>
<div class="clear"></div>

